WebObligatorio2P3/Connected Services/ServicioIngresoActividad/ServicioIngreso.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DiaYHora">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activ" nillable="true" type="tns:Actividad" />
      <xs:element minOccurs="0" name="CuposMaximos" type="xs:int" />
      <xs:element minOccurs="0" name="Dia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hora" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiaYHora" nillable="true" type="tns:DiaYHora" />
  <xs:complexType name="Actividad">
    <xs:sequence>
      <xs:element minOccurs="0" name="EdadMaxima" type="xs:int" />
      <xs:element minOccurs="0" name="EdadMinima" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Actividad" nillable="true" type="tns:Actividad" />
  <xs:complexType name="Socio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstaActivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NombreYapellido" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Socio" nillable="true" type="tns:Socio" />
</xs:schema>