WebObligatorio2P3/Connected Services/ServicioIngresoActividad/ServicioIngreso3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IngresoActividadWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IngresoActividadWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8357/ServicioIngreso.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
  <xs:complexType name="DTOIngresoActividad">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="DiaYHr" nillable="true" type="q1:DiaYHora" />
      <xs:element minOccurs="0" name="FechaYHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="Socio" nillable="true" type="q2:Socio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOIngresoActividad" nillable="true" type="tns:DTOIngresoActividad" />
</xs:schema>