WebObligatorio2P3/Connected Services/ServicioIngresoActividad/ServicioIngreso1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8357/ServicioIngreso.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IngresoActividadWCF" />
  <xs:element name="AltaIngresoActividadDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IngresoActividadWCF" minOccurs="0" name="nuevoIngreso" nillable="true" type="q1:DTOIngresoActividad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaIngresoActividadDTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaIngresoActividadDTOResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>